<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><b><h1><a href="/소리">소리</a>와 <a href="/소피">소피</a></h1></b></p>
    <hr>

    <p><h1>소리와 소피 사진 업로드</h1></p>

    <p>
        <form action="/applyphoto" method="get">
        <input placeholder="입력하세요" required name="location" >
        <input type="checkbox" name="clean" value="clean" >
        <br>
        <textarea name="built" placeholder="빌트인 항목" cols="45" rows="4" required></textarea>
        <br>
        <button>사진 업로드하기.</button>
    </form></p>

    <p><b><a href="/list">목록 보기</a></b></p>

</body>
</html>