<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><b>
            <h1>소피</h1>
        </b></p>
    <hr>
    <p>소피는 <mark>여자</mark>이며 <mark>안기</mark>는 것을 가장 좋아한다.</p>
    <details>
        <summary>소피 사진</summary>
        <img src="/static/소피1.jpg" width="450" height="450">
        <img src="/static/소피2.jpg" width="450" height="450">
    </details>
    <p>산책하다가 갑자기 주저 앉으면 안고 산책을 해야한다.</p>
    <table border="1">
        <caption>
            <h2>소피피의 털 길이 차이</h2>
        </caption>
        <thead>
            <tr>
                <th>길 때</th>
                <th>짧을 때</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/static/소피3.jpg" width="230" height="250"></td>
                <td><img src="/static/소피2.jpg" width="230" height="250"></td>
                <td>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <details>
                        <summary>결론</summary>
                        <p><mark>결론 : 둘 다 귀엽다.</mark></p>
                    </details>
                </th>
            </tr>
        </tfoot>
    </table>
    <p></p>
</body>
</html>